

.hero {
  background: url('../public/hero.png') center;
  background-size: contain;
  padding-top: 24.5%;
  width: 100%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new {
  background: -webkit-linear-gradient(to right , #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 16px;
  padding: 2rem;
  color: #fff;
  max-width: 900px;
  margin: 1rem;
}

.new p {
  font-size: 2rem;
}

.new a {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card p.price {
  font-weight: 700;
}
.card span.pill {
  display: grid;
  width: fit-content;
  padding: .2rem .4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4;
  color: #fff;
  background-color: #0070f3;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.card p.parcelas {
  font-weight: 200;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 1rem;
}


@media (max-width: 660px) {
  .new {
    max-width: fit-content;
  }
  .new p {
    font-size: 1rem;
  }
  .grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
