.produto h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

.produto h2.preco {
  font-size: 2rem;
}

.tease {
  display: flex;
}

.teasecontent {
  margin-left: 1rem;
}

.pill {
  display: grid;
  width: fit-content;
  padding: .2rem .4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4;
  color: #fff;
  background-color: #0070f3;
  border-radius: 4px;
}

.link {
  text-align: center;
}
@media (max-width: 740px) {
  .tease {
    flex-direction: column;
  }
}